/*resources

--text: #0B1942
--inline link: #00B7D3
--h2 background: #0B1942
--h2 color: #FFFFFF
--logo background: #F5005B
--navigation background: #7DDFE8
--navigation link color: #FFFFFF
--"Home" nav link background: #00A5BF
--"Calendar" nav link background: #00B7D3
--"Join" nav link background: #00D5E7
--"Up Next" background: #0B1942
--"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF


"up next" movie links

"Rashomon": https://www.youtube.com/watch?v=7QTrx3YNz7A&t=8s
"The Great Train Robbery": https://www.youtube.com/watch?v=zuto7qWrplc
"The Bicycle Thief": https://www.youtube.com/watch?v=H3jnzXX9mXs
"Nosferatu": https://www.youtube.com/watch?v=FC6jFoYm3xs
"Metropolis": https://www.youtube.com/watch?v=Q0NzALRJifI*/

/*HOME BEGINS HERE*/
/*HOME MOBILE --min 320px*/

body{
  font-family: 'PT Sans';
  color: #0B1942;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7D3;
}

b {
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%
}

.logo {
  display: inline-block;
  background-color: #F5005B;
  width: 102px;
  height: 115px;
  margin: 0;
}

#logo-image {
  width: 83px;
  height: 95px;
  margin: 7px 12px 14px 8px;
}

.flex-container-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 75%;
  background-color: #7DDFE8;
  margin-bottom: 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  flex: 1 1 33%;
  padding-top: 13px;
  padding-bottom: 11px;
}

.nav-home {
  background-color: #00A5BF;
}

.nav-calendar {
  background-color: #00B7D3;
}

.nav-join {
  background-color: #00D5E7;
}

.get-involved {
  margin: 0;
  padding: 34px 22px 39px 22px;
}

h2 {
  font-weight: 400;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 14px;
}

.flex-container-get-involved {
  display: flex;
  flex-direction: column;
}

.blue-background {
  background-color: #0B1942;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 17px;
}

p {
  font-size: 13px;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.up-next {
  background-color: #0B1942;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 32px;
}

h1 {
  color: #ffffff;
  font-weight: 300;
  padding-left: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

.flex-container-up-next {
  display: flex;
  flex-direction: column;
}

#flex-rashomon {
  background-color: #E2E2E2;
  padding-top: 15px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 0px;
}

#rashomon {
  width: 140px;
  height: auto;
  float: left;
  margin-right: 15px;
}

#flex-rashomon a {
  font-size: 20px;
}

#flex-rashomon p {
  line-height: 0.5rem;
  padding-bottom: 10px;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.25px solid #000;
  margin-bottom: 20px;
}

h3 {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 12px;
}

.points-list {
  display: inline-block;
  width: 120px;
}

ul {
  margin-top: 0;
  padding-left: 20px;
}

li {
  font-size: 13px;
  line-height: 1.45rem;
  list-style: circle;
}

.flex-container-other-posters {
  background-color: #E2E2E2;
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 4%;
  padding-right: 5%;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container-other-posters a {
  font-size: 13px;
}

.flex-container-other-posters p {
  line-height: 0.4rem;
}

#flex-train-robbery {
  flex: 1 1 50%;
}

#train-robbery {
  width: 140px;
  height: auto;
}

#flex-bicycle-thief {
  flex: 1 1 50%;
}

#bicycle-thief {
  width: 140px;
  height: auto;
}

#flex-nosferatu {
  flex: 1 1 50%;
}

#nosferatu {
  width: 140px;
  height: auto;
}

#flex-metropolis {
  flex: 1 1 50%;
}

#metropolis {
  width: 140px;
  height: auto;
}

footer {
  background-color: #7DDFE8;
}

.flex-container-footer-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}


/*HOME TABLET --min 545px*/

@media screen and (min-width: 545px) {
  p {
    font-size: 16px;
    line-height: 1.65rem;
  }

  .flex-container-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  nav a {
    text-align: center;
    flex: 0 1 17.5%;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding-top: 45px;
  }

  .get-involved {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 35px;
    padding-bottom: 5px;
  }

  .flex-container-get-involved {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #flex-watch {
    flex: 0 1 30%;
  }

  #flex-take-notes {
    flex: 0 1 30%;
  }

  #flex-meetup {
    flex: 0 1 30%;
  }

  .blue-background {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
  }

  .up-next {
    padding-top: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  #flex-rashomon {
    padding-top: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 17px;
  }

  #rashomon {
    width: 296px;
  }

  #flex-rashomon a {
    font-size: 22px;
  }

  #flex-rashomon p {
    line-height: 0.5rem;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 16px;
  }

  li {
    font-size: 15px;
  }

  .flex-container-other-posters {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  .flex-container-other-posters a {
    font-size: 16px;
  }

  #flex-train-robbery {
    flex: 0 1 23%;
  }

  #flex-bicycle-thief {
    flex: 0 1 23%;
  }

  #flex-nosferatu {
    flex: 0 1 23%;
  }

  #flex-metropolis {
    flex: 0 1 23%;
  }

  .flex-container-footer-nav{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    margin-right: 0;
  }

  .flex-container-footer-nav a {
    text-align: center;
    flex: 0 1 21.25%;
    height: 60px;
  }

  footer p {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    float: right;
    text-align: right;
    width: 20%;
    margin: 0;
    padding-top: 45px;
    padding-right: 15px;
  }
}

/*HOME DESKTOP --min 769px*/
@media screen and (min-width: 769px) {

body{
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 1.6rem;
}

nav a {
  flex: 0 1 10.75%;
  font-size: 18px;
}

.get-involved {
  padding-top: 25px;
  padding-bottom: 17px;
}

h2 {
  font-size: 42px;
  padding-bottom: 3px;
}

.blue-background {
  font-size: 31px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  margin-bottom: 0;
}

.body-copy {
  margin-top: 15px;
}

#flex-watch {
  flex: 0 1 28%;
}

#flex-take-notes {
  flex: 0 1 28%;
}

#flex-meetup {
  margin-right: 22px;
  flex: 0 1 28%;
}
/*
.up-next {
  padding-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

#flex-rashomon {
  padding-top: 15px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 17px;
}

#rashomon {
  width: 296px;
}

#flex-rashomon a {
  font-size: 22px;
}

#flex-rashomon p {
  line-height: 0.5rem;
  padding-bottom: 10px;
}

h3 {
  font-size: 16px;
}

li {
  font-size: 15px;
}

.flex-container-other-posters {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.flex-container-other-posters a {
  font-size: 16px;
}

#flex-train-robbery {
  flex: 0 1 23%;
}

#flex-bicycle-thief {
  flex: 0 1 23%;
}

#flex-nosferatu {
  flex: 0 1 23%;
}

#flex-metropolis {
  flex: 0 1 23%;
}

.flex-container-footer-nav{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  margin-right: 0;
}

.flex-container-footer-nav a {
  text-align: center;
  flex: 0 1 21.25%;
  height: 60px;
}

footer p {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  float: right;
  text-align: right;
  width: 20%;
  margin: 0;
  padding-top: 45px;
  padding-right: 15px;
}*/
}
