/*resources

--text: #0B1942
--inline link: #00B7D3
--h2 background: #0B1942
--h2 color: #FFFFFF
--logo background: #F5005B
--navigation background: #7DDFE8
--navigation link color: #FFFFFF
--"Home" nav link background: #00A5BF
--"Calendar" nav link background: #00B7D3
--"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF


"up next" movie links

"Rashomon": https://www.youtube.com/watch?v=7QTrx3YNz7A&t=8s
"The Great Train Robbery": https://www.youtube.com/watch?v=zuto7qWrplc
"The Bicycle Thief": https://www.youtube.com/watch?v=H3jnzXX9mXs
"Nosferatu": https://www.youtube.com/watch?v=FC6jFoYm3xs
"Metropolis": https://www.youtube.com/watch?v=Q0NzALRJifI*/

/*HOME BEGINS HERE*/
/*HOME MOBILE --min 320px*/

body{
  font-family: 'PT Sans';
  color: #0B1942;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7D3;
}

header {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%
}

.logo {
  display: inline-block;
  background-color: #F5005B;
  width: 102px;
  height: 115px;
  margin: 0;
}

#logo-image {
  width: 83px;
  height: 95px;
  margin: 7px 12px 14px 8px;
}

.flex-container-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 75%;
  background-color: #7DDFE8;
  margin-bottom: 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  flex: 1 1 33%;
  padding-top: 13px;
  padding-bottom: 11px;
}

.nav-home {
  background-color: #00A5BF;
}

.nav-calendar {
  background-color: #00B7D3;
}

.nav-join {
  background-color: #00D5E7;
}

.get-involved {
  margin: 0;
  padding: 34px 22px 39px 22px;
}

h2 {
  font-weight: 400;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 14px;
}

.flex-container-get-involved {
  display: flex;
  flex-direction: column;
}

.blue-background {
  background-color: #0B1942;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 17px;
}

p {
  font-size: 13px;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

footer {
  background-color: #7DDFE8;
}

.flex-container-footer-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7DDFE8;
}

footer p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}


/*HOME TABLET --min 545px*/

/*HOME DESKTOP --min 769px*/
